.message-container {
  display: flex;
  margin-bottom: 15px;
}

.message-container.input {
  justify-content: flex-end;
}

.message-container.output {
  justify-content: flex-start;
}

.message {
  margin-bottom: 15px;
  word-wrap: break-word;
  padding: 10px 15px;
  border-radius: 10px;
  width: fit-content;
}

.message.input {
  align-self: flex-start;
  text-align: right;
  background-color: #feffc2;
}

.message.output {
  align-self: flex-start;
  text-align: left;
  background-color: #ffffff;
}